        <service
            android:name=".services.FaitOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property 
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="3D AI Companion Overlay that requires persistent screen presence for user interaction." />
        </service>
